.header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    color: white;
    top: 0;
    background-color: var(--clr-body-accent);
}
.header{
    width:100%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    padding: 1rem .5rem;
    align-items: center;
    position: sticky;
}
.logo-and-store-links-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-right: 5rem;
}
.account-and-cart{
    display: flex;
}
.account-and-cart>div{
    margin: 0 1rem;
}
.nav-link{
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: .5s all;
    color: var(--clr-text);
}