.header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: var(--clr-body-accent);
}
.header{
    width:100%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    padding: 1rem .5rem;
    align-items: center;
    position: sticky;
}
.logo-and-store-links-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-right: 2rem;
}
.nav-link-logo{
    text-decoration: none;
    cursor: pointer;
    color: var(--clr-text);
}
.cart-and-hurmbuger-container{
    display: flex;
    align-items: center;
}
.hurmbuger{
    cursor: pointer;
    margin-left:2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-line,
.second-line,
.third-line{
    border: none;
    margin: .2rem;
    outline: none;
    width: 27px;
    height: 3px;
    position: relative;
    transition: all 0s .1s,width 150ms ease-in-out;
    display: block;
    background-color: var(--clr-text);
}

.side-menu-toggler{
    display: none;
}
.side-menu{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 80%;
    background-color: var(--clr-body);
    padding: 1rem;
    background-color: var(--clr-body-accent);
}
.menu-and-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.menu-and-header h3{
    text-transform: uppercase;
}
.side-menu .hurmbuger{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}
.side-menu .first-line{
    margin: 0;
    transform: rotate(45deg) translateY(2px) ;
}
.side-menu .third-line{
    margin: 0;
    transform: rotate(-45deg) translateY(-1px) ;
}
.nav-link{
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: .5s all;
    color: var(--clr-text);
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
}
.menu li{
    list-style: none;
}