.footer-container {
    position:relative;
    z-index: 99;
    color: #fff;
    background: var(--clr-dark);
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    top:100%;
    padding: 8px 0px;
    margin-top: 1.5rem;
}
.footer-container a{
    text-decoration: underline;
    color: aliceblue;
}