/* :root{
    
    
} */
.content{
    align-items:stretch !important;
    justify-content: stretch !important;
    width:100vw;
    height: 100vh;
    background-color: var(--clr-body);
}
h1,
h2,
h3{
    font-family: 'Glegoo', serif;
}
.app{
    background-color: var(--clr-body);
    padding: .5rem;
}
