.content{
    align-items:stretch !important;
    justify-content: stretch !important;
    width:100vw;
    height: 100vh;
}
h1,
h2,
h3{
    font-family: 'Glegoo', serif;
}

.app{
    @apply bg-brand-bodyBg;
}
