/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root{
    
    --clr-body-accent:#111827;
    --clr-body:#f3f3f3;
    --clr-body:rgb(222, 214, 209);
    --clr-body:#ded6d1;
    --clr-text:#F9FAFB;
    
    --clr-light:#fff;
    --clr-accent:#023047;
    --clr-accent:#22D3EE;
    --clr-dark:#131921;

    --clr-btn1:#3C43A4;
    --clr-btn2:#3c43a4e3;

    --blue-color:#3C43A4;
    --red-color:#ff5063;
    --transition:.5s all;
    
}

:global {
    @import 'node_modules/slick-carousel/slick/slick';
}
body,
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.content{
    display: block !important;
    align-items:stretch !important;
    justify-content: stretch !important;
    width:auto !important;
    height: auto !important;
}

.shopping-icon{
    /* text-white bg-brand-accent hover:bg-emerald-600 p-2 rounded-full text-3xl transition; */
    color: white !important;
    font-size: 1.5rem;
}